
.Tool-section {
    background-color: rgb(255, 255, 255);
    border: 10px;
    border-width: 5px;
    
    margin-left: 195px;
    border-radius: 5px;
    
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 20px; 
    text-align: center; 
    width: 770px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
    
}

.Tool-exp{

    background-color: rgb(255, 255, 255);
    border: 10px;
    border-width: 5px;
    
    margin-left: 195px;
    border-radius: 5px;
    
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 20px; 
     
    width: 810px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
    
    font-size: 16px;
    font-weight: 100;
    line-height: 27.2px;
    
    box-sizing: border-box;
    display: block;
    font-family: roboto;
    margin-bottom: 16px;
    text-align: left;
    color: black;
}

.Tool-heading {
    font-size: 28px;
    font-weight: 700;
    
    color: rgb(28, 116, 48);
    box-sizing: border-box;
    display: block;
    font-family: roboto;

}

.browse{

margin-left: 75px;



}

input[type="submit"]  {
    /* Your CSS styles for the Submit button */
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 25px ;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);;
}


body{

    background-color: rgb(240, 240, 240);


}