<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Image Resizer</title>
</head>
<body>
    <h1>Image Resizer</h1>

    <form action="/resizeImage" method="post" enctype="multipart/form-data">
        <div th:if="${error}" class="error-message">
            <p th:text="${error}"></p>
        </div>

        <label for="imageFile">Select an image file:</label>
        <input type="file" id="imageFile" name="imageFile" accept=".jpg, .jpeg, .png" required >
        <br>
        <label for="width">Width:</label>
        <input type="number" id="width" name="width">
        <br>
        <label for="height">Height:</label>
        <input type="number" id="height" name="height">
        <br>
        <label for="quality">Quality:</label>
        <input type="number" id="quality" name="quality" step="0.01">
        <br>
        <label for="aspectRatio">Maintain Aspect Ratio:</label>
        <input type="checkbox" id="aspectRatio" name="aspectRatio" value="true">
        <br>
        <label for="format">Select Output Format:</label>
        <select id="format" name="format">
            <option value="jpg">JPG</option>
            <option value="png">PNG</option>
        </select>
        <br>
        <label for="scale">Scale Factor:</label>
        <input type="number" id="scale" name="scale" step="0.01">
        <br>
        <button type="submit">Resize Image</button>
    </form>

    <div th:if="${resizedImageBase64}" class="image-preview">
        <p>Resized Image Preview:</p>
        <img th:src="'data:image/' + ${format} + ';base64,' + ${resizedImageBase64}">
        <br>
        <a th:href="@{'/downloadImage?format=' + ${format}}" th:download="'resized_image.' + ${format}">Download Resized Image</a>
    </div>
</body>
</html>
