<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Check Sitemap Status</title>

    <style>
      * {
        padding: 0;
        margin: 0;
      }
      .form_div {
        display: flex;
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
        
      }

      .form_div label {
        margin-right: 5%;
      }

      .form_div input {
        border: solid;
        height: 20px;
        border-radius: 5px;
        border-width: 1px;
      }

      table {
        width: 80%;
        border-collapse: collapse;
        border: 2px solid;
      }

      th, td {
        padding: 5px;
        text-align: center;
      }

      table tr {
        border-bottom: 2px solid;
      }

      .hidden_row {
        border-bottom: hidden;
        padding: 0;
      }

      td button {
        padding: 5px;
        border-width: 1px;
        border-radius: 6px;
        background-color: rgb(80, 80, 249);
      }

      td span {
        font-weight: bold;
      }

      .hidden {
        display: none;
      }

     .hideBtn{

      width: 50px;
      background-color:blueviolet;

     }
    </style>
  </head>
  <body>
    <!-- Form for sitemap URL and number of threads input -->

    <div style="width: 100%; display: flex; justify-content: center">
      
        <div style="font-size: 17px; width: 100%; flex-direction: column ;   margin-top: 20px;
        margin-right: 20%;
        margin-left: 20%;
        
        padding-top: 5%;
        margin-bottom: 20px;
        padding-bottom: 5%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);">
          <form method="post" action="" onsubmit="startInterval(); return determineAction();">
           
           <div style="width: 100%; display: flex; justify-content: center;">
            <div class="form_div">
              <label for="sitemapUrl">Sitemap URL:</label>
              <input
                style="width: 60%"
                type="text"
                id="sitemapUrl"
                name="sitemapUrl"
               
              />
            </div>
              <div style="width: 100%;">
                <div class="form_div">
                  <label for="websiteUrl">Website URL:</label>
                  <input
                    style="width: 60%"
                    type="text"
                    id="websiteUrl"
                    name="websiteUrl"
                   
                  />
                </div>
                <div class="form_div" style="   margin-top: 5%;">  <div class="form_div">
                  <label for="depthLevel">Specify level of Depth:</label>
                  <input
                    style="width: 15%"
                    type="number"
                    id="depthLevel"
                    name="depthLevel"

                    min="0"
                    max="1"
                    required
                  />
                </div></div>
              </div>
          
          </div>
           <div>
 <div class="form_div" style="margin-top: 5%">
              <label for="numThreads">Number of Threads:</label>
              <input
                style="width: 10%"
                type="number"
                id="numThreads"
                name="numThreads"
                value="5"
                min="1"
                max="5"
                required
              />
            </div>
           </div>
           

            <div style="display: flex; justify-content: center; margin-top: 3%">
              <button
                style="
                  width: 20%;
                  border-radius: 15px;
                  padding: 10px;
                  background-color: rgb(107, 107, 200);
                  cursor: pointer;
                "
                type="submit"
              >
                Check Status
              </button>
            </div>
           <!-- Add this button code where you want it in your HTML template -->


          </form>
          
         
            <form style="width: 100%; justify-content: center; display: flex;  margin-top: 2%;" action="/stop-process" method="post">
              <button  style="
              width: 20%;
              border-radius: 15px;
              padding: 10px;
              background-color: rgb(107, 107, 200);
              cursor: pointer;
            " type="submit">Stop Process</button>
            </form>
          
          
        
          
      

        <div th:if="${limitReached}" style="margin-top: 2%; color: red ;width: 100%; text-align: center;">
          Maximum limit of 1000 websites reached. Some URLs may not have been
          checked.
        </div>

        <div style="width: 100%; display: flex; justify-content: center; margin-top: 3%;">
          <table style="width: 80%; border: solid; border-width: 2px;">
            <thead>
              <tr style="border-width: 2px; border: solid;">
                <th>Status</th>
                <th>Count</th>
                <th>View URLs</th>
              </tr>
            </thead>
            <tbody style="text-align: center;">
              <tr>
                <td>SUCCESS <span>(200)</span> </td>
                <td id="status200">0</td>
                <td>
                  <button onclick="fetchUrlsByStatusCode(200)">
                    View URLs
                  </button>
                </td>
              </tr>
              <tr>
                <td id="url200" class="hidden_row" colspan="3"></td>
              </tr>
              <tr>
                <td>REDIRECT<span>(301)</span></td>
                <td id="status301">0</td>
                <td>
                  <button onclick="fetchUrlsByStatusCode(301)">
                    View URLs
                  </button>
                </td>
              </tr>
              <tr>
                <td id="url301" class="hidden_row" colspan="3"></td>
              </tr>
              <tr>
                <td>SERVER ERROR <span>(500)</span></td>
                <td id="status500">0</td>
                <td>
                  <button onclick="fetchUrlsByStatusCode(500)">
                    View URLs
                  </button>
                </td>
              </tr>
              <tr>
                <td id="url500" class="hidden_row" colspan="3"></td>
              </tr>
              <tr>
                <td>FORBIDDEN <span>(403)</span></td>
                <td id="status403">0</td>
                <td>
                  <button onclick="fetchUrlsByStatusCode(403)">
                    View URLs
                  </button>
                </td>
              </tr>
              <tr>
                <td id="url403" class="hidden_row" colspan="3"></td>
              </tr>
              <tr>
                <td>NOT FOUND <span>(404)</span></td>
                <td id="status404">0</td>
                <td>
                  <button onclick="fetchUrlsByStatusCode(404)">
                    View URLs
                  </button>
                </td>
              </tr>
              <tr>
                <td id="url404" class="hidden_row" colspan="3"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
   
  </div>

    <!-- Container for live updates -->
    <div id="live-updates">
      <!-- Live updates will be displayed here -->
    </div>

    <!-- JavaScript code to periodically fetch and display live updates -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
      var intervalId;

        function determineAction() {
    var websiteUrl = document.getElementById("websiteUrl").value;

    // Check if the website URL is filled
    if (websiteUrl.trim() !== "") {
      // Set action for /fetch-html-and-check-status
      document.forms[0].action = "/fetch-html-and-check-status";
    } else {
      // Set action for /check-status
      document.forms[0].action = "/check-status";
    }

    // Continue with the form submission
    return true;
  }

      function hideDiv(divId) {
        var divToHide = document.getElementById(divId);
        if (divToHide) {
          divToHide.style.display = "none";
        }
      }

      function show(divId) {
        var divToHide = document.getElementById(divId);
        if (divToHide) {
          divToHide.style.display = "block";
        }
      }

      function startInterval() {
        clearInterval(intervalId);
        intervalId = setInterval(fetchScore, 2000);
      }

      function fetchScore() {
        $.get("/score", function (data) {
          console.log(data);
          for (var statusCode in data) {
            var statusCount = data[statusCode];
            $("#status" + statusCode).html("<span>" + statusCount + "</span>");
          }
        });
      }

     

      function fetchUrlsByStatusCode(statusCode) {
       
        $.get("/urls/" + statusCode, function (data) {
          show('url' + statusCode);
          $("#url" + statusCode).html(
            "<h3>URLs with Status Code " + statusCode + ":</h3><div>"
          );
          for (var i = 0; i < data.length; i++) {
            $("#url" + statusCode).append("<a style=\"display:block\" href=\"" + data[i] + "\">" + data[i] + "</a>");
          }
          $("#url" + statusCode).append("</div>")
          $("#url" + statusCode).append('<button class="hideBtn" onclick="hideDiv(\'url' + statusCode + '\')">Hide</button>');
        });
      }

      fetchScore();
    </script>
  </body>
</html>
